{
    {% include include_path ~ '/130_hostname.j2' %}

    {% include include_path ~ '/310_interfaces.j2' %}

    {% include include_path ~ '/280_users.j2' %}

    {% include include_path ~ '/305_ip_address.j2' %}

    {% include include_path ~ '/480_ntp.j2' %}

    {% include include_path ~ '/210_dns.j2' %}

    {% include include_path ~ '/440_snmp.j2' %}

    {% include include_path ~ '/160_aaa.j2' %}

    {% include include_path ~ '/450_syslog.j2' %}

}
