    "/radius": [
        {
            "address": "10.0.0.175",
            "secret": "vev@tca*tfm2JVJ!gve",
            "authentication-port": "1812",
            "accounting-port": "1813",
            "service": "login",
            "timeout": "30s",
            "disabled": "false"
        }
    ],
    "/user/aaa": [
        {
            "use-radius": "true",
            "accounting": "true",
            "default-group": "read"
        }
    ],
